{% macro categoryItem(store, item, level) %}
    {% import _self as self %}
    {% set level = level|default(1) %}
    {% set id = 'subMenu' ~ item.title|default('')|striptags ~ item.id %}
    {% set icon = item.icon|default('') %}
    {% set title = item.title|default('')|raw %}

    {% if level == 1 %}
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#{{ id }}">
                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18"><i class="{{ icon }}"></i></span>
                <span class="media-body align-self-center">{{ title }}</span>
                <span class="d-flex align-self-center u-side-nav--control-icon"><i class="hs-admin-angle-right"></i></span>
                <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>
            <ul id="{{ id }}" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                {% if item.children is defined and item.children|length %}
                    {% for child in item.children %}
                        {% if child.type == 'group' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.categoryItem(store, child, level + 1) }}
                            {% endif %}
                        {% elseif child.type == 'link' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.linkItem(store, child, level + 1) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    {% elseif level == 2 %}
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--second-level-menu-item">
            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#!" data-hssm-target="#{{ id }}">
                <span class="d-flex align-self-center g-mr-15 g-mt-minus-1"><i class="{{ icon }}"></i></span>
                <span class="media-body align-self-center">{{ title }}</span>
                <span class="d-flex align-self-center u-side-nav--control-icon"><i class="hs-admin-angle-right"></i></span>
            </a>
            <ul id="{{ id }}" class="u-side-nav--third-level-menu">
                {% if item.children is defined and item.children|length %}
                    {% for child in item.children %}
                        {% if child.type == 'group' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.categoryItem(store, child, level + 1) }}
                            {% endif %}
                        {% elseif child.type == 'link' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.linkItem(store, child, level + 1) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    {% elseif level == 3 %}
        <li class="u-side-nav--third-level-menu-item u-side-nav--has-sub-menu">
            <a class="media d-flex u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="#!" data-hssm-target="#{{ id }}">
                <span class="media-body align-self-center">{{ title }}</span>
                <span class="d-flex align-self-center u-side-nav--control-icon"><i class="hs-admin-angle-right"></i></span>
            </a>
            <ul id="{{ id }}" class="u-side-nav--fourth-level-menu">
                {% if item.children is defined and item.children|length %}
                    {% for child in item.children %}
                        {% if child.type == 'group' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.categoryItem(store, child, level + 1) }}
                            {% endif %}
                        {% elseif child.type == 'link' %}
                            {% if child.display is not defined or (child.display is defined and child.display == true) %}
                                {{ self.linkItem(store, child, level + 1) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro linkItem(store, item, level) %}
    {% import _self as self %}
    {% set level = level|default(1) %}
    {% set link = path('store_admin', {'store': store.url, 'page': item.href}) %}
    {% set icon = item.icon|default('') %}
    {% set title = item.title|default('') %}

    {% if level == 1 %}
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 {% if app.request.get('page') == item.href %}active{% endif %}" href="{{ link }}">
                <span class="d-flex align-self-center g-font-size-18 g-mr-18">
                    <i class="{{ icon }}"></i>
                </span>
                <span class="media-body align-self-center">{{ title|raw }}</span>
            </a>
        </li>
    {% elseif level == 2 %}
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if app.request.get('page') == item.href %}active{% endif %}" href="{{ link }}">
                <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                    <i class="{{ icon }}"></i>
                </span>
                <span class="media-body align-self-center">{{ title|raw }}</span>
            </a>
        </li>
    {% elseif level == 3 %}
        <li class="u-side-nav--third-level-menu-item">
            <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6 {% if app.request.get('page') == item.href %}active{% endif %}" href="{{ link }}">{{ title|raw }}</a>
        </li>
    {% elseif level == 4 %}
        <li class="u-side-nav--fourth-level-menu-item">
            <a class="u-side-nav--fourth-level-menu-link g-px-15 g-py-6 {% if app.request.get('page') == item.href %}active{% endif %}" href="{{ link }}">
                <span class="media-body align-self-center">{{ title|raw }}</span>
            </a>
        </li>
    {% endif %}
{% endmacro %}
{% from _self import categoryItem %}
{% from _self import linkItem %}

<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <!-- Title -->
    <title>{% block title %}{{ 'general.title'|trans }}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="OrbitronDev" />
    <meta name="publisher" content="OrbitronDev" />
    <meta name="copyright" content="{{ 'general.copyright'|trans }}" />
    <meta name="keywords" content="" />
    <meta name="audience" content="Alle" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Favicon -->
    {% include '_favicon.html.twig' %}
    {% include '_analytics.html.twig' %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-etlinefont/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-line-pro/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-hs/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@1/themes/blue/pace-theme-minimal.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3/lib/noty.min.css" />

    <!-- CSS Admin -->
    <link rel="stylesheet" href="{{ asset('assets-admin/vendor/hs-admin-icons/hs-admin-icons.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/malihu-custom-scrollbar-plugin@3/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hamburgers@0.9.3/dist/hamburgers.min.css" />

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{{ asset('assets-admin/css/unify-admin.css') }}">

    <!-- CSS Customization -->
    {% block stylesheets %}{% endblock %}

    <!-- JS Global Compulsory -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
</head>

<body>
<main>
    <!-- Navigation-->
    <header id="js-header" class="u-header u-header--sticky-top">
        <div class="u-header__section u-header__section--admin-dark g-min-height-65">
            <nav class="navbar no-gutters g-pa-0">
                <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                    <!-- Logo -->
                    <a href="{{ path('store_admin', {'store': current_store.url, 'page': 'home'}) }}" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
                        {{ current_store.name }} {{ 'admin.nav.title'|trans }}
                    </a>
                    <!-- End Logo -->
                    <!-- Sidebar Toggler -->
                    <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#!" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
                        <i class="hs-admin-align-left"></i>
                    </a>
                    <!-- End Sidebar Toggler -->
                </div>

                <!-- Messages/Notifications/Top Search Bar/Top User -->
                <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">

                    <!-- Top User -->
                    <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                        <div class="g-pos-rel g-px-10--lg">
                            <a id="profileMenuInvoker" class="d-block" href="#!" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                                <span class="g-pos-rel">
                                    <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm" src="{{ oauth_url }}/api/get_img?user_id={{ app.user.id }}&height=100&width=100" alt="Image description">
                                </span>
                                <span class="g-pos-rel g-top-2">
                                    <span class="g-hidden-sm-down">{{ 'admin.nav.quick_links'|trans }}</span>
                                    <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                                </span>
                            </a>

                            <!-- Top User Menu -->
                            <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                                <li class="g-mb-10">
                                    <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="{{ path('store_index', {'store': current_store.url}) }}">
                                        <span class="d-flex align-self-center g-mr-12">
                                          <i class="hs-admin-new-window"></i>
                                        </span>
                                        <span class="media-body align-self-center">{{ 'admin.nav.back'|trans }}</span>
                                    </a>
                                </li>
                                <li class="mb-0">
                                    <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="{{ path('logout') }}">
                                        <span class="d-flex align-self-center g-mr-12">
                                          <i class="hs-admin-shift-right"></i>
                                        </span>
                                        <span class="media-body align-self-center">{{ 'admin.nav.logout'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Top User Menu -->
                        </div>
                    </div>
                    <!-- End Top User -->
                </div>
                <!-- End Messages/Notifications/Top Search Bar/Top User -->
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <section class="container-fluid px-0 g-pt-65">
        <div class="row no-gutters g-pos-rel">
            <!-- Sidebar Nav -->
            <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
                <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
                    {% for item in navigation_links %}
                        {% if item.type == 'group' %}
                            {% if item.display is not defined or (item.display is defined and item.display == true) %}
                                {{ categoryItem(current_store, item) }}
                            {% endif %}
                        {% elseif item.type == 'link' %}
                            {% if item.display is not defined or (item.display is defined and item.display == true) %}
                                {{ linkItem(current_store, item) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- End Sidebar Nav -->

            <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">

                {% block breadcrumb %}{% endblock %}

                {% for message in app.session.flashbag.get('successful') %}
                    <div class="container-fluid">
                        <div id="successful" class="alert alert-success alert-dismissible mb-3" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'admin.close'|trans }}</span></button>
                            {{ message|trans }}
                        </div>
                    </div>
                {% endfor %}
                {% for message in app.session.flashbag.get('failed') %}
                    <div class="container-fluid">
                        <div id="failed" class="alert alert-danger alert-dismissible mb-3" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'admin.close'|trans }}</span></button>
                            {{ message|trans }}
                        </div>
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}

                <!-- Footer -->
                <footer id="footer" class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
                    <div class="row align-items-center">
                        <!-- Footer Nav -->
                        <div class="col-md-4 g-mb-10 g-mb-0--md">
                            <ul class="list-inline text-center text-md-left mb-0">
                                <li class="list-inline-item"><a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">{{ 'admin.faq'|trans }}</a></li>
                                <li class="list-inline-item"><span class="g-color-gray-dark-v6">|</span></li>
                                <li class="list-inline-item"><a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">{{ 'admin.support'|trans }}</a></li>
                                <li class="list-inline-item"><span class="g-color-gray-dark-v6">|</span></li>
                                <li class="list-inline-item"><a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">{{ 'admin.contact'|trans }}</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Nav -->

                        <!-- Footer Socials -->
                        <div class="col-md-4 g-mb-10 g-mb-0--md">
                            <ul class="list-inline g-font-size-16 text-center mb-0">
                                <li class="list-inline-item g-mx-10">
                                    <a href="https://www.facebook.com/manuele.vaccari" class="g-color-facebook g-color-lightblue-v3--hover">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-10">
                                    <a href="https://twitter.com/ManueleVaccari" class="g-color-twitter g-color-lightblue-v3--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-10">
                                    <a href="https://plus.google.com/+ManueleVaccari" class="g-color-google-plus g-color-lightblue-v3--hover">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-10">
                                    <a href="https://github.com/D3strukt0r/service-store" class="g-color-black g-color-lightblue-v3--hover">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Socials -->

                        <!-- Footer Copyrights -->
                        <div class="col-md-4 text-center text-md-right">
                            <small class="d-block g-font-size-default">{{ 'general.copyright'|trans }}</small>
                        </div>
                        <!-- End Footer Copyrights -->
                    </div>
                </footer>
                <!-- End Footer -->
            </div>
        </div>
    </section>
</main>

<!-- JS Global Compulsory -->
<script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@1/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/appear@1/dist/appear.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/malihu-custom-scrollbar-plugin@3/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smoothscroll-for-websites@1/SmoothScroll.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

<!-- JS Unify -->
<script src="{{ asset('assets/js/hs.core.js') }}"></script>
<script src="{{ asset('assets/js/components/hs.scrollbar.js') }}"></script>
<script src="{{ asset('assets/js/components/hs.dropdown.js') }}"></script>
<script src="{{ asset('assets/js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('assets-admin/js/components/hs.side-nav.js') }}"></script>
<script src="{{ asset('assets-admin/js/components/hs.range-datepicker.js') }}"></script>
<script src="{{ asset('assets-admin/js/components/hs.bar-chart.js') }}"></script>

<!-- JS Custom -->
<script src="{{ asset('js/custom.js') }}?v={{ 'now'|date('d-m-Y') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of custom scrollbar
        $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});

        // initialization of hamburger
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of sidebar navigation component
        $.HSCore.components.HSSideNav.init('.js-side-nav');

        // initialization of custom select
        $('.js-select').selectpicker();

        // initialization of range datepicker
        $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

        // initialization of charts
        $.HSCore.components.HSBarChart.init('.js-bar-chart');
    });
</script>

<!-- JS Plugins Init. -->
{% include '_cookie_notice.html.twig' %}
{% block javascripts %}{% endblock %}
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1/dest/respond.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3/dist/html5shiv-printshiv.min.js"></script>
<![endif]-->
</body>
</html>
