<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <!-- Title -->
    <title>{% block title %}{{ 'general.title'|trans }}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="OrbitronDev" />
    <meta name="publisher" content="OrbitronDev" />
    <meta name="copyright" content="{{ 'general.copyright'|trans }}" />
    <meta name="keywords" content="" />
    <meta name="audience" content="Alle" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Favicon -->
    {% include '_favicon.html.twig' %}
    {% include '_analytics.html.twig' %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-line-pro/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/icon-hs/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{{ asset('assets/css/unify-core.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/unify-components.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/unify-globals.css') }}" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}?v={{ 'now'|date('d-m-Y') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
<main>
    {% block content %}
        <!-- Content -->
        <section class="g-py-50">
            <div class="container">
                <h1 class="g-mb-20">Blank Page!</h1>
            </div>
        </section>
        <!-- End Content -->
    {% endblock %}
</main>

<!-- JS Global Compulsory -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smoothscroll-for-websites@1/SmoothScroll.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

<!-- JS Unify -->
<script src="{{ asset('assets/js/hs.core.js') }}"></script>

<!-- JS Custom -->
<script src="{{ asset('js/custom.js') }}?v={{ 'now'|date('d-m-Y') }}"></script>

<!-- JS Plugins Init. -->
{% include '_cookie_notice.html.twig' %}
{% block javascripts %}{% endblock %}
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1/dest/respond.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3/dist/html5shiv-printshiv.min.js"></script>
<![endif]-->
</body>
</html>
