{% extends 'layout.html.twig' %}

{% block title %}{{ 'list_stores.title'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-50" style="background-image: url(https://web-assets.orbitrondev.org/unify-2.5.1/img/bg/pattern2.png);">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center"><h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">{{ 'list_stores.title'|trans }}</h2></div>
                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-color-primary"><span>{{ 'list_stores.breadcrumb.store'|trans }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="container g-pt-30 g-pb-40">
        {% if app.user is not empty %}
            <div class="card g-mb-40">
                <div class="card-header">
                    {{ 'list_stores.admin.title'|trans }}
                    <div class="pull-right">
                        <a href="{{ path('new') }}" class="btn btn-success btn-xs" role="button">{{ 'list_stores.admin.new'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>
                            {% for store in store_list %}
                                {% if app.user.id == store.owner.id %}
                                    <tr>
                                        <td><a href="{{ path('store_index', {'store': store.url}) }}">{{ store.name }}</a></td>
                                        <td><a href="{{ path('store_admin', {'store': store.url, 'page': 'home'}) }}">{{ 'list_stores.admin.panel'|trans }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <section id="store-list">
            <h2 class="page-header">{{ 'list_stores.list.title'|trans }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'list_stores.list.name'|trans }}</th>
                            <th>{{ 'list_stores.list.owner'|trans }}</th>
                            <th>{{ 'list_stores.list.tools'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for store in store_list %}
                            <tr>
                                <td><a href="{{ path('store_index', {'store': store.url}) }}">{{ store.name }}</a></td>
                                <td>{{ store.owner.username }}</td>
                                <td>{% if app.user is not empty and app.user.id == store.owner.id %}<a href="{{ path('store_admin', {'store': store.url, 'page': 'home'}) }}">{{ 'list_stores.admin.panel'|trans }}</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
