{% extends 'theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_store.links %}
        <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
    'page_name': current_store.name,
    'page_logo_link': '/' ~ current_store.url,
    'page_author': current_store.owner.username,
    'page_description': current_store.description,
    'page_keywords': current_store.keywords|join(','),
    'page_links': service_page_links,
    'page_google_webdev': current_store.googleWebDeveloper,
    'page_ga_id': current_store.googleAnalyticsId,
    'page_logo_url': ''
} %}
{% set language = app.request.getLocale() %}
{% set currency = app.session.get('_currency') %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 100%;
        }

        #locationField, #controls {
            position: relative;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Has to be executed beacause google maps changes this automatically to "off"
            $("#pac-input").attr('autocomplete', 'nope');
        });

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            //administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };
        var input_ids = {
            street_number: 'checkout_location_street_number',
            route: 'checkout_location_street',
            locality: 'checkout_location_city',
            country: 'checkout_location_country',
            postal_code: 'checkout_location_postal_code'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('pac-input')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        // [START region_fillform]
        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            /** Not Required as can be predefined by user
             for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }
             */
            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    console.log(input_ids[addressType]);
                    document.getElementById(input_ids[addressType]).value = val;
                }
            }
        }
        // [END region_fillform]

        // [START region_geolocation]
        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
        // [END region_geolocation]
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSO1fpoQuukeVKiueZxzqhLCFlkgP0IMM&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
        function checkoutSubtractQuantity(element) {
            var elemPrice = $('#' + element + '_price');
            var elemTotal = $('#' + element + '_total');
            var elemInput = $('#' + element);
            var number = parseInt(elemInput.val());
            if(number - 1 < 0) {
            } else {
                var newTotal = --number;
                var newTotalPrice = parseFloat(elemPrice.text()) * newTotal;
                elemInput.val(newTotal);

                if (elemPrice.text() !== '{{ 'service_general.free'|trans }}') {
                    updateTotal(newTotalPrice, elemTotal);
                }
            }
        }

        function checkoutAddQuantity(element) {
            var elemPrice = $('#' + element + '_price');
            var elemTotal = $('#' + element + '_total');
            var elemInput = $('#' + element);
            var number = parseInt(elemInput.val());
            var newTotal = ++number;
            var newTotalPrice = parseFloat(elemPrice.text()) * newTotal;
            elemInput.val(newTotal);

            if (elemPrice.text() !== '{{ 'service_general.free'|trans }}') {
                updateTotal(newTotalPrice, elemTotal);
            }
        }

        function updateTotal(newProductTotal, elem) {
            var oldProductTotal = parseFloat(elem.text());
            elem.text(number_format(newProductTotal, 2, '.', '\''));

            var elemSubtotal = $('#subtotal-price');
            var subtotal = parseFloat(elemSubtotal.text());
            var newSubtotal = (subtotal - oldProductTotal) + newProductTotal;
            elemSubtotal.text(number_format(newSubtotal, 2, '.', '\''));

            var elemTotal = $('#output-price');
            var total = parseFloat(elemTotal.text());
            var newTotal = (total - oldProductTotal) + newProductTotal;
            elemTotal.text(number_format(newTotal, 2, '.', '\''));

        }


        function checkoutDisableTransport() {
            $('.billing-info-inputs :input').prop('disabled', false);
        }
        function checkoutEnableTransport() {
            $('.billing-info-inputs :input').prop('disabled', true);
        }
        function checkoutToggleTransport() {
            if(this.checked) {
                checkoutDisableTransport();
            } else {
                checkoutEnableTransport();
            }
        }

        function checkoutRemoveProduct(productName, count) {
            count = count || 0;

            $.ajax({
                method: 'POST',
                url: '{{ path('store_do_remove_from_cart', {'store': current_store.url}) }}',
                data: { product: productName, product_count: count, response: 'json' },
                async: true,
                beforeSend: function( xhr ) {
                    xhr.overrideMimeType('text/plain; charset=x-user-defined');
                }
            }).done(function(data) {
                var response = JSON.parse(data);
                if(response['result'] === 'true') {
                    console.log(response);
                    console.info('[Checkout] Product deleted');
                } else {
                    alert('Product couldn\'t be removed, try again.');
                }
            }).fail(function() {
                alert('Product couldn\'t be removed, try again.');
            });
        }

        // DELIVERY FUNCTIONALITY
        {# TODO: Delivery is still problematic #}
        var elShippingMethod = $('input[name=shipping]:checked', '#transport');
        var elShippingCost = $('#output-shipping');
        var elFormPriceHidden = $('#hidden-output-price');
        var elFormPrice = $('#output-price');

        var transport_price, new_transport_price = 0, form_price, form_new_price = 0;
        transport_price = parseFloat($('input[name=shipping]:checked', '#transport').data('cost'));
        if (isNaN(transport_price)) {
            transport_price = parseFloat($('#output-shipping').text());
        }
        form_price = parseFloat($('#hidden-output-price').val());

        $('#transport').find('input[type=radio]').on('change', function() {
            new_transport_price = parseFloat($('input[name=shipping]:checked', '#transport').data('cost'));
            form_new_price = form_price - transport_price + new_transport_price;
            /*
              if (!isNaN(old_price))
              old_price = price;
              console.log(old_price);
              price = parseFloat(elShippingMethod.data('cost'));
              console.log(price);
              var form_old_price = parseFloat(elFormPriceHidden.val());
              console.log(form_old_price);
              var form_new_price = form_old_price - old_price + price;
              console.log(form_new_price);
*/
            $('#hidden-output-price').val(form_new_price);
            $('#output-price').text(number_format(form_new_price, 2, '.', '\''));
        });

        // VOUCHER FUNCTIONALITY
        $('#js-check-voucher').click(function() {
            $('#js-voucher-check-invalid').hide();
            $('#js-voucher-check-valid').hide();
            $('#js-voucher-info').hide();
            $('#js-voucher-check-loading').show();
            $.ajax({
                url: '{{ path('store_do_check_voucher', {'store': current_store.url}) }}',
                type: 'GET',
                data: { code : $('#js-voucher-code').val() }
            }).done(function(data) {
                $('#js-voucher-check-loading').hide();
                var validation = $(data).find('result').first().text();
                if(validation === 'invalid') {
                    $('#js-voucher-check-invalid').show();
                }
                else if(validation === 'valid') {
                    $('#js-voucher-check-valid').show();

                    var reduceType = parseInt($(data).find('type').first().text());
                    if (reduceType === 0) {
                        $('#js-voucher-type').text('{{ 'service_checkout.voucher.percentage'|trans }}');
                        $('#js-voucher-amount').text($(data).find('amount').first().text() + '%');
                    } else if (reduceType === 1) {
                        $('#js-voucher-type').text('{{ 'service_checkout.voucher.exact'|trans }}');
                        $('#js-voucher-amount').text(number_format($(data).find('amount').first().text(), 2, '.', '\''));
                    }
                    {# TODO: Take the voucher amount from the total #}
                    $('#js-voucher-info').show();

                    $('#js-voucher-code').attr('disabled', '');
                    $('#js-check-voucher').attr('disabled', '');
                }
            }).fail(function() {
                console.log('Ajax failed!');
            });
        });

        // CLEAR CHECKOUT FUNCTIONALITY
        $('#js-clear-checkout').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '{{ path('store_do_clear_cart', {'store': current_store.url}) }}',
                type: 'GET'
            }).done(function(data) {
                location.reload();
            }).fail(function() {
                console.log('Ajax failed!');
            });
        });
    </script>
{% endblock %}

{% block title %}{{ 'service_checkout.title'|trans }} | {{ service.page_name }}{% endblock %}

{% block header %}
    <div class="container">
        <h1 class="mt-4 mb-2 pb-2 border-bottom">{{ current_store.name }}</h1>
    </div>
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <div class="mb-2 pb-2 border-bottom">
            <a class="btn btn-outline-primary" href="{{ path('store_index', {'store': current_store.url}) }}" role="button">{{ 'service_general.nav.home'|trans }}</a>
            <a class="btn btn-primary" href="{{ path('store_checkout', {'store': current_store.url}) }}" role="button">{{ 'service_general.nav.checkout'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(checkout_form, {'attr': {'class': 'row'}}) }}
        <section id="form" class="col-md-8 order-md-1">
            {% for message in app.session.flashbag.get('order_sent') %}
            <div id="order-sent" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'service_general.close'|trans }}</span></button>
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('order_not_sent') %}
            <div id="order-not-sent" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'service_general.close'|trans }}</span></button>
                {{ message }}
            </div>
            {% endfor %}
            {% set message_no_products_availbale = app.session.flashbag.get('products_unavailable') %}
            {% if message_no_products_availbale|length > 0 %}
                <div id="products-unavailable" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'service_general.close'|trans }}</span></button>
                    {% for message in message_no_products_availbale %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="voucher" class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="js-voucher-code">{{ 'service_checkout.voucher.voucher'|trans }}</label>
                            <div class="input-group">
                                <input type="text" id="js-voucher-code" class="form-control" name="voucher" value />
                                <div class="input-group-append">
                                    <button id="js-check-voucher" class="btn btn-primary" type="button">{{ 'service_checkout.voucher.check'|trans }}</button>
                                    <span id="js-voucher-check-invalid" class="input-group-text text-danger" style="display: none;">{{ 'service_checkout.voucher.invalid'|trans }}</span>
                                    <span id="js-voucher-check-valid" class="input-group-text text-success" style="display: none;">{{ 'service_checkout.voucher.valid'|trans }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="js-voucher-info" class="card" style="display: none;">
                                <div class="card-body">
                                    <p>{{ 'service_checkout.voucher.type'|trans }} <span id="js-voucher-type"></span></p>
                                    <p>{{ 'service_checkout.voucher.amount'|trans }} <span id="js-voucher-amount"></span></p>
                                </div>
                            </div>
                            <br />
                            <h4 id="js-voucher-check-loading" style="display: none;"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transport" class="card mb-2">
                <div class="card-body">
                    <label>{{ 'service_checkout.shipping_method.title'|trans }}</label>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for delivery in delivery_types %}
                                    <tr>
                                        <td><input type="radio" name="shipping" value="{{ delivery.id }}" data-cost="{{ delivery.price }}" /></td>
                                        <td>{{ delivery.type }}</td>
                                        <td><b>{{ delivery.price }} {{ currency }}</b><br />{{ delivery.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table .table-hover -->
                    </div>
                    <!-- /.table-responsive -->
                    {% set deliveryPrice = 7 %}
                </div>
            </div>
            <div id="payment-method" class="card mb-2">
                <div class="card-body">
                    {% if payment is null %}
                        <p>{{ 'service_checkout.payment_method.no_method'|trans }}</p>
                    {% else %}
                        {% if payment.method.type == 'braintree_production' or payment.method.type == 'braintree_sandbox' %}
                            <script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>
                            <input type="hidden" name="payment_method_nonce" value="fake-valid-nonce" />
                            <div id="dropin-container"></div>
                            <button id="submit-button" class="btn btn-success btn-block">{{ 'Validate payment method' }}</button>
                            <script>
                                var button = $('#submit-button');

                                $(document).ready(function () {
                                    $('#form_send').attr('disabled', true);
                                });

                                braintree.dropin.create({
                                    authorization: '{{ payment.client_token }}',
                                    container: '#dropin-container',
                                    paypal: {
                                        flow: 'vault'
                                    }
                                }, function (createErr, instance) {
                                    button.click(function (event) {
                                        event.preventDefault();
                                        instance.requestPaymentMethod(function (err, payload) {
                                            if (err) {
                                                // Handle error in Hosted Fields tokenization
                                                console.log('Error', err);
                                                return;
                                            }
                                            // Submit payload.nonce to your server
                                            // Put `payload.nonce` into the `payment-method-nonce` input, and then
                                            // submit the form. Alternatively, you could send the nonce to your server
                                            // with AJAX.
                                            document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
                                            $('#form_send').attr('disabled', false);
                                        });
                                    });
                                });
                            </script>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="cart" class="card mb-2">
                <div class="card-body">
                    <label>{{ 'service_checkout.cart.title'|trans }}</label>
                    <span class="pull-right"><a href="#" id="js-clear-checkout" class="btn btn-danger btn-sm" style="cursor:pointer">{{ 'service_checkout.cart.clear'|trans }}</a></span>
                    {% if cart|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>{{ 'service_checkout.cart.table.product'|trans }}</th>
                                        <th style="min-width:9rem">{{ 'service_checkout.cart.table.quantity'|trans }}</th>
                                        <th style="min-width:5rem">{{ 'service_checkout.cart.table.price'|trans }}</th>
                                        <th style="min-width:7rem">{{ 'service_checkout.cart.table.total'|trans }}</th>
                                        <th style="min-width:7.5rem"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set productPrice = 0 %}
                                    {% for product in cart %}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    {#<a class="thumbnail pull-left" style="border: 0;" href="#"> <img class="media-object" src="{{ asset('app/store/products_img/' ~ product.id ~ '/' ~ product.small_icon) }}" style="width: 72px; height: 72px;"> </a>#}
                                                    <a class="thumbnail pull-left" style="border: 0;margin-bottom: 0;" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                                    <div class="media-body" style="padding-left:5px;padding-top:5px;">
                                                        <h4 class="media-heading"><a href="#">{{ product.name }}</a></h4>
                                                        {#<h5 class="media-heading"> by <a href="#">Brand name</a></h5>#}
                                                        <span>{{ 'service_checkout.cart.table.status'|trans }} </span><span class="text-success"><strong>{% if product.stock > 0 %}{{ 'service_checkout.cart.table.in_stock'|trans }} ({{ product.stock }}){% endif %}</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            {#<td class="col-sm-1"><input type="number" class="form-control" id="product_quantity_{{ product.id }}" value="{{ product.in_cart }}" /></td>#}
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-secondary" type="button" name="subtract" onclick="checkoutSubtractQuantity('product_quantity_{{ product.id }}')" value="-">-</button>
                                                    </div>
                                                    <input type="text" class="form-control text-center" name="product_quantity_{{ product.id }}" value="{{ product.in_cart }}" id="product_quantity_{{ product.id }}" title="quantity" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" name="add" onclick="checkoutAddQuantity('product_quantity_{{ product.id }}')" value="+">+</button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {% if product.in_sale %}
                                                    <span style="text-decoration:line-through">
                                                        {% if product.price == 0 %}{{ 'service_general.free'|trans }}{% else %}{{ product.price|number_format(2, '.', '\'') }} ${% endif %}
                                                    </span>
                                                    <br />
                                                    {% if product.price_sale == 0 %}{{ 'service_general.free'|trans }}{% else %}<span id="product_quantity_{{ product.id }}_price">{{ product.price_sale|number_format(2, '.', '\'') }}</span> ${% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}{{ 'service_general.free'|trans }}{% else %}<span id="product_quantity_{{ product.id }}_price">{{ product.price|number_format(2, '.', '\'') }}</span> ${% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% set product_total_price = product.price * product.in_cart %}
                                                {% set product_total_price_sale = product.price_sale * product.in_cart %}

                                                {% if product.in_sale %}
                                                    <span style="text-decoration:line-through">
                                                        {% if product_total_price == 0 %}{{ 'service_general.free'|trans }}{% else %}{{ product_total_price|number_format(2, '.', '\'') }} ${% endif %}
                                                    </span>
                                                    <br />
                                                    <b>{% if product_total_price_sale == 0 %}{{ 'service_general.free'|trans }}{% else %}<span id="product_quantity_{{ product.id }}_total">{{ product_total_price_sale|number_format(2, '.', '\'') }}</span> ${% endif %}</b>
                                                {% else %}
                                                    <b>{% if product_total_price == 0 %}{{ 'service_general.free'|trans }}{% else %}<span id="product_quantity_{{ product.id }}_total">{{ product_total_price|number_format(2, '.', '\'') }}</span> ${% endif %}</b>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('store_do_remove_from_cart', {'store': current_store.url, 'product': product.id}) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> {{ 'service_checkout.cart.table.remove'|trans }}</a>
                                            </td>
                                        </tr>
                                        {% if product.in_sale %}
                                            {% set productPrice = productPrice + product_total_price_sale %}
                                        {% else %}
                                            {% set productPrice = productPrice + product_total_price %}
                                        {% endif %}
                                    {% endfor %}

                                    {% set fullPrice = productPrice + deliveryPrice %}
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td><h5>{{ 'service_checkout.cart.table.subtotal'|trans }}</h5></td>
                                        <td class="text-right"><h5><strong><span id="subtotal-price">{{ productPrice|number_format(2, '.', '\'') }}</span> {{ currency }}</strong></h5></td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td><h5>{{ 'service_checkout.cart.table.shipping'|trans }}</h5></td>
                                        <td class="text-right"><h5><strong><span id="output-shipping">{{ deliveryPrice|number_format(2, '.', '\'') }}</span> {{ currency }}</strong></h5></td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td><h3>{{ 'service_checkout.cart.table.total'|trans }}</h3></td>
                                        <td class="text-right"><h3><strong><span id="output-price">{{ fullPrice|number_format(2, '.', '\'') }}</span> {{ currency }}</strong></h3></td>
                                    </tr>
                                </tbody>
                            </table><!-- /.table .table-hover -->
                        </div><!-- /.table-responsive -->
                        <input type="hidden" id="hidden-output-price" name="output-price" value="{{ fullPrice }}" />
                        <script>
                            var productPrice = {{ productPrice|default(0) }};
                            if(productPrice === 0) {
                                $('#form_send').attr('disabled', true);
                            }

                            $('#product-count').change(function() {
                                var value = number_format(25 * $('#product-count').val(), 2, '.', '\'');
                                $('#output-price').html(value);
                            });
                        </script>
                    {% else %}
                        <p class="text-center text-warning"><b>{{ 'service_checkout.cart.empty'|trans }}</b></p>
                    {% endif %}
                </div>
            </div>
            <div id="order-button" class="card">
                <div class="card-body">
                    <span class="pull-right">
                        {{ form_widget(checkout_form.send, {'attr': {'class': 'btn btn-success', 'data-count': 'product-count', 'style': 'margin-left: 10px'}}) }}
                    </span>
                </div>
            </div>
        </section>
        <section id="personal-information" class="col-md-4 order-first order-md-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(checkout_form.name) }}
                        {{ form_widget(checkout_form.name, {'attr': {'class': 'form-control'}}) }}
                        <span class="help-block text-danger">{{ form_errors(checkout_form.name) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(checkout_form.email) }}
                        {{ form_widget(checkout_form.email, {'attr': {'class': 'form-control'}}) }}
                        <span class="help-block text-danger">{{ form_errors(checkout_form.email) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(checkout_form.phone) }}
                        {{ form_widget(checkout_form.phone, {'attr': {'class': 'form-control'}}) }}
                        <span class="help-block text-danger">{{ form_errors(checkout_form.phone) }}</span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div id="locationField">
                            <input class="form-control" id="pac-input" placeholder="{{ 'service_checkout.form.location.placeholder'|trans }}" autocomplete="nope" onfocus="geolocate()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-xs-8">
                                {{ form_label(checkout_form.location_street) }}
                                {{ form_widget(checkout_form.location_street, {'attr': {'class': 'form-control'}}) }}
                                <span class="help-block text-danger">{{ form_errors(checkout_form.location_street) }}</span>
                            </div>
                            <div class="col col-xs-4">
                                {{ form_label(checkout_form.location_street_number) }}
                                {{ form_widget(checkout_form.location_street_number, {'attr': {'class': 'form-control'}}) }}
                                <span class="help-block text-danger">{{ form_errors(checkout_form.location_street_number) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-xs-4">
                                {{ form_label(checkout_form.location_postal_code) }}
                                {{ form_widget(checkout_form.location_postal_code, {'attr': {'class': 'form-control'}}) }}
                                <span class="help-block text-danger">{{ form_errors(checkout_form.location_postal_code) }}</span>
                            </div>
                            <div class="col col-xs-8">
                                {{ form_label(checkout_form.location_city) }}
                                {{ form_widget(checkout_form.location_city, {'attr': {'class': 'form-control'}}) }}
                                <span class="help-block text-danger">{{ form_errors(checkout_form.location_city) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(checkout_form.location_country) }}
                        {{ form_widget(checkout_form.location_country, {'attr': {'class': 'form-control'}}) }}
                        <span class="help-block text-danger">{{ form_errors(checkout_form.location_country) }}</span>
                    </div>
                </div>
            </div>
        </section>
        {{ form_end(checkout_form) }}
    </div>
{% endblock %}
