<table bgcolor="#f1f1f1" width="100%" height="100%" align="center" style="border-collapse:collapse;" border="0" cellspacing="0">
    <tbody>
        <tr align="center">
            <td valign="top">
                <table bgcolor="#f1f1f1" height="60" style="border-collapse:collapse;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="middle" height="40">
                            {#<td width="9"></td>#}
                            <td {#width="217"#} valign="middle"><img src="{{ header_image }}" border="0" alt="{{ current_store.name }}" style="display:block;" height="40" /></td>
                            {#<td width="327" style="font-size:13px;font-family:arial, sans-serif;color:#777777;text-align:left;">{{ current_store.name }}</td>
                            <td width="100"></td>#}
                        </tr>
                    </tbody>
                </table>
                <table border="1" bordercolor="#e5e5e5" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="text-align:left;">
                    <tbody>
                        <tr>
                            <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none;"></td>
                        </tr>
                        <tr>
                            <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none;"></td>
                            <td width="568" valign="top" style="font-size:83%;border-top:none;border-bottom:none;border-left:none;border-right:none;font-size:13px;font-family:arial, sans-serif;color:#222222;line-height:18px;">
                                {{ 'Hello'|trans }} {{ order_form.name }},
                                <br />
                                <br />
                                {{ 'Thank you very much for your order. We will try to deliver the products as soon as possible.'|trans }}
                                <br />
                                <br />
                                <div style="font-weight:bold;">
                                    {{ 'Order details'|trans }}
                                </div>
                                {{ 'service_checkout.form.name.label'|trans }}: {{ order_form.name }}
                                <br />
                                {{ 'service_checkout.form.email.label'|trans }}: {{ order_form.email }}
                                <br />
                                {{ 'service_checkout.form.location_street.label'|trans }}/{{ 'service_checkout.form.location_street_number.label'|trans }}: {{ order_form.location_street }} {{ order_form.location_street_number }}
                                <br />
                                {{ 'service_checkout.form.location_postal_code.label'|trans }}/{{ 'service_checkout.form.location_city.label'|trans }}: {{ order_form.location_postal_code }} {{ order_form.location_city }}
                                <br />
                                <br />
                                {{ 'Date and time'|trans }}: {{ ordered_time|date('l, j. F Y H:i e') }}
                                <br />
                                {{ 'service_checkout.form.location_country.label'|trans }}: {{ order_form.location_country }}
                                <br />
                                <br />
                                <div style="font-weight:bold;">
                                    {{ 'Products'|trans }}
                                </div>
                                <table style="border-top:1pt solid black">
                                    <tbody>
                                        {% set productPrice = 0 %}
                                        {% for product in cart %}
                                            <tr>
                                                <td style="border-bottom:1pt solid black" width="400">{{ product.name }}</td>
                                                <td style="border-bottom:1pt solid black" width="100">
                                                    {% if product.in_sale %}<span style="text-decoration:line-through">{% endif %}
                                                        {% if product.price == 0 %}
                                                            {{ 'service_general.free'|trans }}
                                                        {% else %}
                                                            {{ product.price|number_format(2, '.', '\'') }} $ {# TODO: Make this editable by the user #}
                                                        {% endif %}
                                                        {% if product.in_sale %}</span>{% endif %}
                                                    <br />
                                                    {% if product.price_sale == 0 %}
                                                        {{ 'service_general.free'|trans }}
                                                    {% else %}
                                                        {{ product.price_sale|number_format(2, '.', '\'') }} $ {# TODO: Make this editable by the user #}
                                                    {% endif %}
                                                </td>
                                                <td style="border-bottom:1pt solid black" width="100">{{ product.in_cart }} {{ 'pieces'|trans }}</td>
                                                <td style="border-bottom:1pt solid black" width="100">
                                                    {% set product_total_price = product.price * product.in_cart %}
                                                    {% set product_total_price_sale = product.price_sale * product.in_cart %}
                                                    {% if product.in_sale %}<span style="text-decoration:line-through">{% endif %}
                                                        {% if product_total_price == 0 %}
                                                            {{ 'service_general.free'|trans }}
                                                        {% else %}
                                                            {{ product_total_price|number_format(2, '.', '\'') }} $ {# TODO: Make this editable by the user #}
                                                        {% endif %}
                                                        {% if product.in_sale %}</span>{% endif %}
                                                    <br />
                                                    {% if product_total_price_sale == 0 %}
                                                        {{ 'service_general.free'|trans }}
                                                    {% else %}
                                                        {{ product_total_price_sale|number_format(2, '.', '\'') }} $ {# TODO: Make this editable by the user #}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if product.in_sale %}
                                                {% set productPrice = productPrice + product_total_price_sale %}
                                            {% else %}
                                                {% set productPrice = productPrice + product_total_price %}
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td width="400"></td>
                                            <td width="100"></td>
                                            <td width="100"></td>
                                            <td width="100">{{ productPrice }} $</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <br />
                                {{ 'Best regards'|trans }}
                                <br />
                                {{ current_store.name }}
                            </td>
                            <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none;"></td>
                        </tr>
                        <tr>
                            <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none;"></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#f1f1f1" height="80" style="text-align:left;">
                    <tbody>
                        <tr valign="middle">
                            <td style="font-size:11px;font-family:arial, sans-serif;color:#777777;">
                                {{ 'With this service notification, we inform you about orders regarding your product bought on'|trans }} {{ current_store.name }}.
                                <br />
                                <br />
                                <div style="direction:ltr;">
                                    {{ '© 2018' }} {{ current_store.name }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
